*
{
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
body
{
	margin: 0;
}
.center-horizontal
{
	text-align: center;
}
.layout-vertical > *
{
	display: block;
}
.layout-horizontal > *
{
	display: inline-block;
	vertical-align: top;
}